<div class="container" style="margin-top: 100px; text-align: center;">
  <h1>List of previous matches</h1>
</div>


<div class="container" style="margin-top: 100px;">
  <% @profiles.each do |profile| %>
  <div class="col-md-6 offset-md-6" style="text-align: center; display: flex;">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= profile.photo %>);">
          <h2><%= profile.name %></h2>
        </div>
         <ul class="list-inline">
          <li class="list-inline-item" style="padding-right: 10vw;"><%= link_to profile_path(profile), method: :get do %>
            <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li class="list-inline-item" style="padding-left: 10vw;">
            <%= link_to profile_path(profile), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        </ul>
        </div>
      </div>
  <% end %>
</div>

<div class="container" style="margin-top: 100px;">
  <%= link_to new_profile_url, method: :get do %>
    <button type="submit" class="btn btn-primary btn-lg btn-block"><h2>Find new Match!</h2></button>
  <% end %>
</div>
