 <div class="jumbotron jumbotron-fluid" style="background-color: #3383FF">
      <div class="container">
        <h1 class="display-4" style="color: white">Enter in the fields...</h1>
        <p class="lead" style="font-family: Helvetica">Fill out the description of the partner you're looking for:</p>
      </div>
    </div>


    <!-- <div class="d-flex justify-content-center"> -->
  <div class="container" style="margin-bottom: 100px">
    <h1>Find new match</h1>
      <%= simple_form_for(@profile) do |f| %>
        <%= f.input :age, wrapper_html: { class: 'banner-description' } %>
        <%= f.input :ethnicity %>
        <%= f.input :body_type %>
        <%= f.input :height %>
        <%= f.input :interests %>
        <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
      <h1 style="color: white !important;"><%= link_to profiles_path, method: :get do %>
        <i class="fas fa-hand-point-left"></i>
        <% end %>
    </h1>
  </div>
